certOwner: gabor@gorzsony.com

certs:
- "gorzsony.com"
- "razzie.xyz"

namecheap:
  apiKey: {{ requiredEnv "NAMECHEAP_API_KEY" | quote }}
  apiUser: {{ requiredEnv "NAMECHEAP_API_USER" | quote }}

databases:
  postgres:
    image: ghcr.io/razzie/postgres:14.5-alpine
    storageCapacity: 8G
    memoryLimit: 0.5Gi
    cpuLimit: 500m
  redis:
    image: ghcr.io/razzie/kvrocks:v2.0.6
    bashImage: ghcr.io/razzie/bash
    storageCapacity: 2G
    memoryLimit: 0.5Gi
    cpuLimit: 500m
