downloadServer:
  enabled: {{ not (empty (env "PUBLIC_BUCKET_URL")) }}
  bucketURL: {{ env "PUBLIC_BUCKET_URL" | quote }}

pizzabot:
  enabled: {{ not (empty (env "PIZZABOT_TOKEN")) }}
  token: {{ env "PIZZABOT_TOKEN" | quote }}

website:
  githubToken: {{ env "GITHUB_TOKEN" | quote }}
