publicBucketUrl: {{ env "PUBLIC_BUCKET_URL" | quote }}
pizzabotToken: {{ env "PIZZABOT_TOKEN" | quote }}
githubToken: {{ env "GITHUB_TOKEN" | quote }}

torrent:
  username: {{ env "TORRENT_USERNAME" | quote }}
  password: {{ env "TORRENT_PASSWORD" | quote }}
